<nav>
  <a href="/">Home</a>
  <% if logged_in? %>
      <a href="/films/new">Post Film</a>
      <a href="/users/<%= current_user.username %>" <%= "id='current'" if @user.id == current_user.id %>>Your Film's</a>
  <% else logged_in? %>
      <a href="/signup">SignUp</a>
      <a href="/login">Login</a>
  <% end %>
</nav>

<h2>Viewing <%= @user.username %> Film's</h2>

<% @user.films.all.each do |film| %>
    <div class="film">
      <p>Film entered by: <a href="/users/<%= film.user.username %>"><%= film.user.username %></a></p>
      <p>Film Title: <%= film.title %></p>
      <p>Film Year: <%= film.year %></p>
      <p>Film Genre: <a href="/genres/<%= film.genre.name %>"><%= film.genre.name %></a></p>
      <p><a href="/films/<%= film.id %>">View film</a></p>
           <% if @user.id == current_user.id %>
               <p><a href="/films/<%= film.id %>/edit">Edit</a></p>
               <form action="/films/<%= film.id %>" method="post">
                 <input type="hidden" name="_method" value="delete">
                 <p>
                   <button type="submit">Delete</button>
                 </p>
               </form>
           <% end %>
         </div>
     <% end %>
