<h2>Viewing <%= @user.username %> Film's</h2>

<% @user.films.all.each do |film| %>
    <div class="film">
      <p>Film entered by: <a href="/users/<%= film.user.username %>"><%= film.user.username %></a></p>
      <p>Film Title: <%= film.title %></p>
      <p>Film Year: <%= film.year %></p>
      <p>Film Genre: <a href="/genres/<%= film.genre.name %>"><%= film.genre.name %></a></p>
